<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>VIP</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="public/css/fa_recog.css" rel="stylesheet" type="text/css">

	<script src="./../scripts/trans1.js" type="text/javascript"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>

	<script>
	// var e = document.getElementById('hero_header')
	// var e1 = getElementById('camera');
	// document.getElementById('div2') = 'none';
	// setTimeout(function(){
	//    document.getElementById('target').style.display = 'none';
	// }, 1000);
	// e.innderText = "How would you like to confirm your identity?"
	// function fadeOutEffect() {
	//     var fadeTarget = document.getElementById("target");
	//     var fadeEffect = setInterval(function () {
	//         if (!fadeTarget.style.opacity) {
	//             fadeTarget.style.opacity = 1;
	//         }
	//         if (fadeTarget.style.opacity < 0.1) {
	//             clearInterval(fadeEffect);
	//         } else {
	//             fadeTarget.style.opacity -= 0.1;
	//         }
	//     }, 200);
	// }
	// document.getElementById("target").addEventListener('click', fadeOutEffect);
	// var s = document.getElementById('div1').style;
	// s.opacity = 1;
	// (function fade(){(s.opacity-=.1)<0?s.display="none":setTimeout(fade,1000)})();
	</script>
</head>
<body>
	<!-- Navigation -->
	<header><img src="public/images/GradyEmergencyLogo.png" width="30%" height="30%" alt="GradyEmergencyLogo"/></header>

	<!-- Hero Section -->
	<section class="hero" id="hero">
		<h2 id="hero_header" class="hero_header" onclick=" location.href='ret_confirm_options.html'">Please face the camera<br></h2>

		<div class="face_cam" id="target">
			<div onclick="location.href='not_recognized'" class="color-box" style="background-color:#C4C4C4;">Your face</div>
		</div>
	</section>

	<!-- About Section -->
	<!-- Stats Gallery Section -->
	<!-- Parallax Section -->
	<!-- More Info Section -->
	<!-- Footer Section -->
	<!-- Copyrights Section -->
	<div class="copyright">&copy; 2018 GT VIP HEALTH INFORMATICS</div>
</body>
</html>
