<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>VIP</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="public/css/fa_recog.css" rel="stylesheet" type="text/css">

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
</head>
<body>
	<!-- Navigation -->
	<header><img src="public/images/GradyEmergencyLogo.png" width="30%" height="30%" alt="GradyEmergencyLogo"/></header>

	<!-- Hero Section -->
	<section class="hero" id="hero">
		<h2 id="hero_header" class="hero_header" onclick=" location.href='ret_confirm_options.html'">Please face the camera<br></h2>

		<div class="face_cam" id="target">
			<video id="v" width="300" height="300"></video>
			<input id="b" type="button" disabled="true" value="Take Picture" download="canvas_image.png"></input>
			<canvas id="c" style="display:none;" width="300" height="300"></canvas>
			
			<!-- <div onclick="location.href='not_recognized'" class="color-box" style="background-color:#C4C4C4;">Your face</div> -->
		</div>
	</section>

	<!-- About Section -->
	<!-- Stats Gallery Section -->
	<!-- Parallax Section -->
	<!-- More Info Section -->
	<!-- Footer Section -->
	<!-- Copyrights Section -->
	<div class="copyright">&copy; 2018 GT VIP HEALTH INFORMATICS</div>
<script>
	navigator.getUserMedia({video: true}, function(stream) {
		var video = document.getElementById("v");
		var canvas = document.getElementById("c");
		var button = document.getElementById("b");
		video.src = stream;
		video.srcObject = stream;
     	video.play();
		button.disabled = false;
		button.onclick = function() {
			canvas.getContext("2d").drawImage(video, 0, 0, 300, 300);
			var img = canvas.toDataURL("image/png");
			// Canvas2Image.saveAsPNG(canvas);
			
			alert("done");
			// Canvas2Image.saveAsJPEG(img, 300, 300, "demo_img");
			// document.body.appendChild(img);
			var windowtab=window.open('about:blank','image from canvas');
        	windowtab.document.write("<img src='"+img+"' alt='from canvas'/>");
			window.location.href = "not_recognized";
		};
	}, function(err) { alert("there was an error " + err)});

</script>
</body>
</html>
