<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>VIP</title>
<link href="css/confirm.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
<script src="scripts/trans1.js" type="text/javascript"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.9/jquery.min.js"></script> -->
<script src="jquery-3.3.1.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.1.js"></script>
<script>
// $(".inputs").keyup(function() {
//        if (this.value.length == this.maxLength) {
//          var $next = $(this).next('.inputs');
//          if ($next.length)
//              $(this).next('.inputs').focus();
//          else
//              $(this).blur();
//        }
// });
</script>
</head>
<body>
<!-- Main Container
<div class="container">
  <!-- Navigation -->
  <div class="header">
      <img src="images/GradyEmergencyLogo.png" width="30%" height="30%" right="0" alt=""/>
      <div class="float_right"><button onclick = "location.href = 'select_language.html'" href="#" class = "btn Exit" id = "Exit">Exit</button></div>
  </div>
  <!-- Hero Section -->
  <section class="hero" id="hero">
  	<div id = "div1">
    	<h2 id="hero_header" class="hero_header">Please confirm your address</h2>
      <h2 id="tel1" class="hero_header"></h2>


    </div>
    <div class = "confirm_method" id = "target">
      <!-- <button type = "submit" class="btn next" id = "next"><i class="fa fa-arrow-right"></i></button> -->
	     <button onclick = "location.href = 'new_address.html'" href="#" class = "btn no" id = "No">NO</button>
       <button onclick = "location.href = 'new_phone_email.html'" class = "btn yes" id = "Yes">YES</button>
  </div>

    <!-- About Section -->
    <!-- Stats Gallery Section -->
    <!-- Parallax Section -->
    <!-- More Info Section -->
    <!-- Footer Section -->
    <!-- Copyrights Section -->
    <div class="copyright">&copy; 2018 GT VIP HEALTH INFORMATICS</div>
</body>
</html>
