@charset 'UTF-8';
/* Body */
html {
    /*position: relative;*/
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow: hidden;
    /*height: 100vh;*/
}
body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin:0px;
	font-style: normal;
	font-weight: 200;
	height: 100vh;!important
	overflow: hidden;


}
/* Container */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    overflow: hidden;

}
/* Navigation */
header {
    /*width: 100%;*/
    /*height: 7%;*/
    background: #E4F1FE;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}
.hero_header {
    color: #050505;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 4px;
    font-family: "Roboto", sans-serif;
    font-size: 64pt;
    margin-top: 0px;
    padding-top: 30px;
}
/* Hero Section */
.hero {
    background-color: #E4F1FE;
    /*padding-top: 8%;*/
    padding-bottom:30%;
    /*margin-bottom: 0px;*/
    text-align: center;
}
/*#hero .language #Eng, .language #Espanol {*/
/*background:    #ffffff;*/
/*background:    -webkit-linear-gradient(#78909c, #78909c);
background:    linear-gradient(#78909c, #78909c);*/
/*border-radius: 5px;
width:         370px;
height:        100px;*/
/*color:         #ffffff;*/
/*display:       inline-block;
font:          normal 700 25px/50px "Roboto", sans-serif;
text-align:    center;
text-shadow:   none;*/
/*}*/

.language {
  /*display: inline-block; !important*/
  /*width: 30%;*/
  text-align: center;
  padding-top: 5%;
  /*margin-left: 2%;*/
  /*margin-bottom: 10%;*/
}
.btn{
  display: inline-block; !important
  height: 110px;
  width:  370px;
  font: "Roboto", sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  background: #38ada9;
  /*border: 3px solid #fff;*/
  transition: all 0.4s linear;
  margin: 40px;

}

/*.btn:hover{ color: #fff; }

.btn:before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  z-index: -1;
  background: #0082d0;
  transition: all 0.4s linear;
}

.btn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  z-index: -1;
  background: #0082d0;
  transition: all 0.4s linear;
}

.esp:hover{
  background: #32CD32;
}
.eng:hover{
  background: #32CD32;
}*/



.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 25px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}



.copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #717070;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    bottom: 0px;
    position: fixed;
    width:100%;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.thumbnail {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
